@media screen and (max-width: 600px) {
  
  .nav-link {
    visibility: hidden;
  }
  
  .nav-content {
    text-align: left;
    display: none;
    
  }
  .nav-container{
    position: relative;
  }
  .menu-bar{
    position: absolute;
    visibility: visible;
    left: 440px;
  }
  .btn-find {
    padding-right: 50px;
  }
  .nav-title {
    width: 80%;
    gap: 0;
    position: relative;
  }
  .nav-content {
    width: 20%;
  }
  .nav-link {
    width: 0;
  }
  .nav-container {
    gap: 0;
  }
  .input-container {
    flex-direction: column;
    gap: 10px;
  }
  .banner-container h1 {
    color: #fff;

    font-size: 1.8rem;

    font-weight: 600;
  }
  .banner-container {
    gap: 20px;
  }
  .banner-container p {
    font-size: 14px;
  }
  .popular-tour {
    flex-direction: column;
  }
  .destination .destination-text h1{
    font-size: 1.2rem;
  }
  .popular-tour .popular-img img {
    width: 100%;
  }
  .collage-1,
  .collage-2,
  .collage-3 {
    flex-direction: column;
  }
  .collage-1 .img-1,
  .collage-1 .img-2,
  .collage-2 .img-1,
  .collage-2 .img-2,
  .collage-2 .img-3,
  .collage-3 .img-1,
  .collage-3 .img-2 {
    width: 100%;
  }
  .choose-cards{
    flex-direction: column;
  }
  .choose-cards .card-1, .card-2{
    width: 90%;
  }
  .choose-cards-2 .card-1{
    width: 90%;
    margin-right: 20px;
  }
  .choose .chose-text h1{
    font-size: 1.2rem;
  }
  .choose .chose-text p{
    font-size: 14px;
  }
  .deals-banner-1, .deals-banner-2,.deals-banner-3{
    margin-bottom: 14px;
    
    
    border-radius: 16px;
    align-items: center;
    justify-content: end;
    display: flex;
    flex-direction: column;
    
    padding-top: 150px;
  }
  .deals-card{
    width: 85%;
    margin-bottom: -30px;
  }
  .icons{
    display: flex;
    flex-wrap: wrap;
  }
  .deals-icon{
    flex-basis: 100px;
  }
  .deals .deals-text p{
    font-size: 14px;
  }
  .deals .deals-text h1{
    font-size: 1.5rem;
  }
  .pkg button{
    display: none;
  }
  .video-clip{
    flex-direction: column;
  }
  .video-content, .video-text{
    width: 100%;
  }
  .newsletter{
    flex-direction: column;
  }
  .subscribe, .save-up{
    width: 100%;
  }
  .save-up{
    height: 300px;
  }
  .footer-title, .footer-pera, .footer-icon-div, .copy{
    width: 80%;
  }
  
}
