@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
/* shared styles */
* {
  font-family: "Mulish", sans-serif;
  margin: 0;
  padding: 0;
}
header {
  width: 81%;
  max-width: 1170px;
  margin: 0 auto;
  margin-top: 50px;
  /* border: 2px solid blue; */
  
}
/* nav section styles */

.nav-container {
  
  display: flex;
  align-items: center;
  gap: 10%;
}
.nav-title {
  display: flex;
  width: 50%;
  
  align-items: center;
  
  gap: 10%;
}
.nav-title h1 {
  font-size: 2.25rem;
  font-weight: 800;
}
.nav-container .nav-title img {
     
  width: 20%;
}
.nav-container .nav-title span {
  color: #ff5400;
}
.nav-content{
    display: flex;
    width: 50%;
    justify-content: space-between;
}
.nav-link {
  
  width: 90%;
  display: flex;
  gap: 2%;
  justify-content: space-between;
}
.nav-link a {
  text-decoration: none;
  color: #424247;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}
.nav-content .menu{
    font-weight: 800;
    visibility: hidden;
}
