@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
/* shared styles */
* {
  font-family: "Mulish", sans-serif;
  margin: 0;
  padding: 0;
}
header {
  width: 81%;
  max-width: 1170px;
  margin: 0 auto;
  margin-top: 50px;
  /* border: 2px solid blue; */
}
.btn-primary{
    padding: 10px 15px;
    background-color: #FF5400;
    border: 0;
    border-radius: 10px;
    text-align: center;
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 800;
}
/* nav section styles */
nav {
  margin-bottom: 50px;
}

.nav-container {
  display: flex;
  align-items: center;
  gap: 10%;
}
.nav-title {
  display: flex;
  width: 50%;

  align-items: center;

  gap: 10%;
}
.nav-title h1 {
  font-size: 2.25rem;
  font-weight: 800;
}
.nav-container .nav-title img {
  width: 20%;
}
.nav-container .nav-title span {
  color: #ff5400;
}
.nav-content {
  display: flex;
  width: 50%;
  justify-content: space-between;
}
.nav-link {
  width: 100%;
  display: flex;
  gap: 2%;
  justify-content: space-between;
}
.nav-link a {
  text-decoration: none;
  color: #424247;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}
.nav-content .menu {
  font-weight: 800;
  visibility: hidden;
}
/* main section styles */
/* banner sections */
.banner {
  width: 81%;
  max-width: 1170px;
  margin: 0 auto;
  margin-top: 50px;
  height: 500px;
  background-image: linear-gradient(
      45deg,
      rgba(70, 66, 66, 0.043),
      rgba(0, 0, 0, 0.548)
    ),
    url("../images/Group\ 13\ \(1\)\ \(1\).png");
  margin-top: 50px;

  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}
.banner-container {
  margin: 0 auto;
  max-width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.banner-container h1{
    color: #FFF;


font-size: 4rem;

font-weight: 800;

}
.banner-container p{
    color: #FFF;

text-align: center;

font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 26px; 
}
.input-container{
    display: flex;
    gap: 20px;
    background-image: linear-gradient(-45deg, rgba(213, 213, 213, 0.493), rgba(219, 210, 210, 0.491));
    padding: 16px;
    border-radius: 10px;
}
.input-field{
    border-radius: 10px;
    border: 0;
    padding: 15px 10px;
    color: rgba(19, 19, 24, 0.50);
    text-align: center;
    font-size: 1rem;
}
.btn-find{
    border-radius: 10px;
    background: #FF5400;
    border: 0;
    padding: 15px 50px;
    color: white;
    text-align: center;
    font-size: 1rem;
}
/* popular tour section section styles */
.popular-tour{
    
    width: 81%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  gap:50px ;
  align-items: center;
}
.popular-text{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.popular-text h1{
    color: #131318;



font-size: 4rem;

font-weight: 800;

}
.popular-text p,li{
    color: rgba(19, 19, 24, 0.70);


font-size: 1rem;

font-weight: 400;
line-height: 25px; 
}



